.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--color-darkblue);
}

.button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 50%;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--color-darkblue);
}

.button:disabled {
  background-color: var(--color-gray);
}

.button:disabled:hover {
  background-color: var(--color-gray);
}
