.commentsWrapper {
  width: 100%;
  margin-bottom: 50px;
}
.commentsInput {
  width: 100%;
}
.commentsInput textarea {
  width: 100%;
}
.commentsInput button {
  display: flex;
  justify-content: right;
}
.commentName {
  display: flex;
  align-items: center;
  gap: 2px;
}
.commentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid var(--color-white);
}
.icons button {
  background-color: transparent;
  color: var(--color-white);
  transition: 250ms;
}
.icons .iconsDeleteBtn:hover {
  color: var(--color-red);
}
.icons .iconsPatchBtn:hover {
  color: var(--color-yellow);
}
.commentText {
  padding: 5px 0;
}
.likeTrue {
  color: var(--color-red);
}
.iconsAddLike {
  border-style: none;
  background-color: transparent;
  color: var(--color-white);
  font-size: 28px;
  transition: 250ms;
}
.likeFalse span {
  font-size: 20px;
}
.addCommBnt {
  float: right;
}
.addCommBnt {
  border: 1px solid var(--color-white);
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
  color: var(--color-white);
  font-weight: 700;
  transition: 250ms;
}
.addCommBnt:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
