/* !! CINEMA CARD */
.cardCinema {
  width: 15%;
  margin: 5px auto;
  transition: all 300ms;
  position: relative;
}
.cardCinema img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardCinema:hover {
  opacity: 0.5;
  transform: scale(0.9);
}
