.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #011522;
}

.paginationBtn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
}

.paginationBtn:hover {
  background-color: #01243b;
}

.paginationBtn:disabled {
  background-color: rgb(70, 70, 70);
}

.paginationBtn:disabled:hover {
  background-color: rgb(70, 70, 70);
}
