.adminWrapper {
  width: 100vw;
  height: 100vh;

  background-image: url("https://img.freepik.com/free-photo/top-view-skeleton-hands-clapperboard-with-copy-space_23-2148637534.jpg?w=1480&t=st=1690653263~exp=1690653863~hmac=65be803c440d436b838621150f143e3e0cc0299fdae75e994f2dbe28c1d4bd2d");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
